body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://shorturl.at/uwPY8'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"]{
    margin-right: 20px;
}

input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}
input[type="radio"] + label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}



button {
    background-color: hsl(162, 69%, 40%);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    color: rgb(0, 0, 0);
}

th {
    background-color: #1a9d74;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white; 
    background-color: rgb(25, 147, 116); 
    padding: 10px; 
    border-radius: 8px;
}

@media (max-width: 600px) {
    form {
        max-width: 100%;
    }

    .container {
        padding: 10px;
    }
}
